page-intro {
    
    /*.bg-imagem{
        background-image: url('../assets/imgs/fundo2.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;  
    }*/
    
}
